@model TravelBlog.Models.Location

@{
    ViewData["Title"] = "New Location";
    Layout = "_Layout";
}

<h2> Enter Location Information </h2>

@using (Html.BeginForm())
{
    <p>
	    @Html.LabelFor(model => model.Name)
	    @Html.TextBoxFor(model => model.Name)
	</p>

    <p>
	    @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description)
    </p>


    <input type="submit" value="Submit Location"/>
}
<p>@Html.ActionLink("Return to Locations", "Index")</p>