@model TravelBlog.Models.Location
@{
    ViewData["Title"] = "TravelBlog - Detail";
    Layout = "_Layout";
}

<h2>Location Details</h2>
<hr/>

<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>

<p>@Html.ActionLink("Edit", "edit", new { id = Model.Id}) | @Html.ActionLink("Back to Locations", "Index")</p>
